@use 'sass:map';

@use './generate';
@use '../colors';
@use '../utils';
@use '../variables/base';

@function default-light($primary: #0284c7, $gray: null, $info: null, $success: null, $warning: null, $error: null) {
  $_colors: colors.generate-themed-colors($primary, $gray, $info, $success, $warning, $error);
  $_light: map.get($_colors, 'light');

  $_vars: utils.merge-multiple(
    $_light,
    (
      // Colors
      // ----------------
      color-text-primary: map.get($_light, 'gray-12'),
      color-text-secondary: map.get($_light, 'gray-11'),
      color-text-tertiary: map.get($_light, 'gray-10'),
      color-text-placeholder: map.get($_light, 'gray-9'),
      // links
      color-text-link: map.get($_light, 'primary-11'),
      color-text-link-hover: map.get($_light, 'primary-10'),
      color-text-link-active: map.get($_light, 'primary-9'),
      color-text-link-visited: map.get($_light, 'primary-8'),
      // backgrounds
      color-background: map.get($_light, 'gray-3'),
      color-surface: map.get($_light, 'gray-2'),
      color-elevated: map.get($_light, 'gray-1'),
      // borders
      color-border: map.get($_light, 'gray-8'),
      color-border-light: map.get($_light, 'gray-7'),
      // interactive backgrounds
      color-interactive-text: map.get($_light, 'gray-12'),
      color-interactive: map.get($_light, 'primary-9'),
      color-interactive-hover: map.get($_light, 'primary-8'),
      color-interactive-active: map.get($_light, 'primary-7'),
      color-interactive-disabled: map.get($_light, 'primary-6'),
      color-interactive-light: map.get($_light, 'primary-3'),
      // error
      color-error-text: map.get($_light, 'error-12'),
      color-error: map.get($_light, 'error-9'),
      color-error-hover: map.get($_light, 'error-8'),
      color-error-active: map.get($_light, 'error-7'),
      color-error-disabled: map.get($_light, 'error-6'),
      color-error-light: map.get($_light, 'error-3'),
      // success
      color-success-text: map.get($_light, 'success-12'),
      color-success: map.get($_light, 'success-9'),
      color-success-hover: map.get($_light, 'success-8'),
      color-success-active: map.get($_light, 'success-7'),
      color-success-disabled: map.get($_light, 'success-6'),
      color-success-light: map.get($_light, 'success-3'),
      // warning
      color-warning-text: map.get($_light, 'warning-12'),
      color-warning: map.get($_light, 'warning-9'),
      color-warning-hover: map.get($_light, 'warning-8'),
      color-warning-active: map.get($_light, 'warning-7'),
      color-warning-disabled: map.get($_light, 'warning-6'),
      color-warning-light: map.get($_light, 'warning-3'),
      // info
      color-info-text: map.get($_light, 'info-12'),
      color-info: map.get($_light, 'info-9'),
      color-info-hover: map.get($_light, 'info-8'),
      color-info-active: map.get($_light, 'info-7'),
      color-info-disabled: map.get($_light, 'info-6'),
      color-info-light: map.get($_light, 'info-3')
    ),
    base.$borders,
    base.$sizes
  );

  @return generate.generate-theme('light', $_vars);
}
