$colors: (
  color-text-primary: null,
  color-text-secondary: null,
  color-text-tertiary: null,
  color-text-placeholder: null,
  // interactive text
  color-text-interactive: null,
  // links
  color-text-link: null,
  color-text-link-hover: null,
  color-text-link-active: null,
  color-text-link-visited: null,
  // backgrounds
  color-background: null,
  color-surface: null,
  color-elevated: null,
  // borders
  color-border: null,
  color-border-light: null,
  // interactive backgrounds
  color-interactive: null,
  color-interactive-hover: null,
  color-interactive-active: null,
  color-interactive-disabled: null,
  // error
  color-error: null,
  color-error-hover: null,
  color-error-active: null,
  color-error-disabled: null,
  // success
  color-success: null,
  color-success-hover: null,
  color-success-active: null,
  color-success-disabled: null,
  // warning
  color-warning: null,
  color-warning-hover: null,
  color-warning-active: null,
  color-warning-disabled: null,
  // info
  color-info: null,
  color-info-hover: null,
  color-info-active: null,
  color-info-disabled: null,
);

$borders: (
  // Borders
  // ----------------
  border-radius: 3px,
  border-width: 1px,
  border-style: solid
);

$sizes: (
  size-1: 1px,
  size-2: 2px,
  size-3: 4px,
  size-4: 8px,
  size-5: 16px,
  size-6: 32px,
  size-7: 64px,
  size-8: 128px,
);
