@use 'sass:map';

// TODO: Generate these colors with a `themed` generator, to be able to only pass a few base colors.
$vars: (
  // Colors
  // ----------------
  color-text-primary: #18181b,
  color-text-secondary: #27272a,
  color-text-tertiary: #3f3f46,
  color-text-placeholder: #52525b,
  color-text-link: #0ea5e9,
  color-text-link-hover: #0284c7,
  color-text-link-active: #0369a1,
  color-text-link-visited: #075985,

  color-background: #f4f4f5,
  color-surface: #fafafa,
  color-elevated: #ffffff,

  color-border: #d4d4d8,
  color-border-light: #e4e4e7,

  // Borders
  // ----------------
  border-radius: 3px,
  border-width: 1px,
  border-style: solid
);
