@use './base';

$vars: (
  // sizes
  button__padding-h: base.get('size-5'),
  button__padding-v: 0,
  button__height: base.get('size-6'),
  // Colors
  button__color: base.get('color-text-primary'),
  button__background: base.get('color-surface'),
  button__background-hover: base.get('color-elevated'),
  // border
  button__border-radius: base.get('border-radius'),
  button__border-width: base.get('border-width'),
  button__border-style: base.get('border-style'),
  button__border-color: base.get('color-border'),
  // primary
  button--primary__color: base.get('color-text-contrast'),
  button--primary__color-disabled: base.get('color-text-placeholder'),
  button--primary__background: base.get('color-interactive'),
  button--primary__background-hover: base.get('color-interactive-hover'),
  button--primary__background-active: base.get('color-interactive-active'),
  button--primary__background-disabled: base.get('color-interactive-disabled'),
  // secondary
  button--secondary__color: base.get('color-text-primary'),
  button--secondary__color-disabled: base.get('color-text-placeholder'),
  button--secondary__background: base.get('color-elevated'),
  button--secondary__background-hover: base.get('color-surface'),
  button--secondary__background-active: base.get('color-surface'),
  button--secondary__background-disabled: base.get('color-border-light'),
  // error
  button--error__color: base.get('color-text-contrast'),
  button--error__color-disabled: base.get('color-text-placeholder'),
  button--error__background: base.get('color-error'),
  button--error__background-hover: base.get('color-error-hover'),
  button--error__background-active: base.get('color-error-active'),
  button--error__background-disabled: base.get('color-error-disabled'),
  // warning
  button--warning__color: base.get('color-text-contrast'),
  button--warning__color-disabled: base.get('color-text-placeholder'),
  button--warning__background: base.get('color-warning'),
  button--warning__background-hover: base.get('color-warning-hover'),
  button--warning__background-active: base.get('color-warning-active'),
  button--warning__background-disabled: base.get('color-warning-disabled'),
  // small
  button--small__height: calc(base.get('size-5') + base.get('size-4')),
  button--small__padding-h: base.get('size-3'),
  button--small__padding-v: 0,
  // large
  button--large__height: calc(base.get('size-6') + base.get('size-4')),
  button--large__padding-h: base.get('size-5'),
  button--large__padding-v: base.get('size-4'),
  // round
  button--round__padding: base.get('size-4')
);
