@use './base';

$vars: (
  // Sizes
  checkbox__size: calc(base.get('size-5') + base.get('size-4')),
  // Border
  checkbox__border-radius: base.get('border-radius'),
  checkbox__border-width: base.get('border-width'),
  checkbox__border-style: base.get('border-style'),
  checkbox__border-color: base.get('color-border'),
  checkbox__border-color-hover: base.get('color-border-light'),
  // Colors
  checkbox__background: base.get('color-text-interactive'),
  checkbox__background-hover: base.get('color-surface'),
  checkbox__background-active: base.get('color-background'),
  checkbox__background-disabled: base.get('color-border-light'),
  checkbox__color: base.get('color-interactive'),
  checkbox__color-hover: base.get('color-interactive-hover'),
  checkbox__color-active: base.get('color-interactive-active'),
  checkbox__color-disabled: base.get('color-interactive-disabled')
);
