@use './base';

$vars: (
  // Sizes
  dropdown-menu__width: calc(base.get('size-6') + base.get('size-4')),
  dropdown-menu__height: calc(base.get('size-5') + base.get('size-4')),
  dropdown-menu__padding: base.get('size-3'),
  // Colors
  dropdown-menu__background: base.get('color-surface'),
  dropdown-menu__background-hover: base.get('color-elevated'),
  dropdown-menu__background-active: base.get('color-background'),
  dropdown-menu__color: base.get('color-text-primary'),
  dropdown-menu__color-hover: base.get('color-text-secondary'),
  dropdown-menu__color-active: base.get('color-text-tertiary'),
  // Border
  dropdown-menu__border-radius: base.get('border-radius'),
  dropdown-menu__border-width: base.get('border-width'),
  dropdown-menu__border-style: base.get('border-style'),
  dropdown-menu__border-color: base.get('color-border'),
  // items
  dropdown-menu__item-height: calc(base.get('size-5') + base.get('size-4')),
  dropdown-menu__item-padding-v: base.get('size-3'),
  dropdown-menu__item-padding-h: base.get('size-4'),
  dropdown-menu__item-color: base.get('color-text-primary'),
  dropdown-menu__item-color-hover: base.get('color-text-secondary'),
  dropdown-menu__item-color-disabled: base.get('color-text-placeholder'),
  dropdown-menu__item-background: base.get('color-surface'),
  dropdown-menu__item-background-hover: base.get('color-elevated'),
  // labels
  dropdown-menu__label-padding-v: base.get('size-4'),
  dropdown-menu__label-padding-h: base.get('size-6'),
  dropdown-menu__label-color: base.get('color-text-tertiary'),
  // separators
  dropdown-menu__separator-height: 1px,
  dropdown-menu__separator-background: base.get('color-border-light')
);
