.themed-ui__select {
  &__trigger {
    border: none;
    padding: 0 themed('size-16');
    border-radius: 3px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background-color: themed('gray-3');
    color: themed('gray-12');
    height: themed('size-32');
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content,
  &__sub-content {
    overflow: hidden;
    border-radius: themed('size-4');
    background-color: themed('gray-2');
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);

    z-index: 1;
  }

  &__content:not(:has(&__arrow)) {
    &[data-side='top'] {
      margin-bottom: themed('size-6');
    }
    &[data-side='bottom'] {
      margin-top: themed('size-6');
    }
    &[data-side='left'] {
      margin-right: themed('size-6');
    }
    &[data-side='right'] {
      margin-left: themed('size-6');
    }
  }

  &__item,
  &__label,
  &__checkbox-item,
  &__radio-item,
  &__sub-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    user-select: none;

    height: themed('size-32');
    color: themed('gray-12');
    padding: 0 themed('size-8') 0 themed('size-24');

    &:focus-visible {
      outline: none;
    }

    &[data-disabled] {
      color: themed('gray-6');
      pointer-events: 'none';
    }

    &[data-highlighted] {
      background-color: themed('gray-3');
      color: themed('gray-12');
    }
  }

  &__sub-trigger {
    &[data-state='open'] {
      background-color: themed('gray-4');
    }
  }

  &__label {
    color: themed('gray-9');
  }

  &__separator {
    height: themed('size-1');
    background-color: themed('gray-3');
    margin: 5px;
  }

  &__item-indicator {
    position: absolute;
    left: 0;
    width: themed('size-24');
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    fill: themed('gray-2');
  }
}
