.themed-ui__select {
  &__trigger {
    border: none;
    padding: 0 themed('size-5');
    border-radius: 3px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background-color: themed('color-border');
    color: themed('color-text-primary');
    height: calc(themed('size-3') + themed('size-2'));
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content,
  &__sub-content {
    overflow: hidden;
    border-radius: themed('size-3');
    background-color: themed('color-surface');
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);

    z-index: 1;
  }

  &__content:not(:has(&__arrow)) {
    &[data-side='top'] {
      margin-bottom: calc(themed('size-3') + themed('size-2'));
    }
    &[data-side='bottom'] {
      margin-top: calc(themed('size-3') + themed('size-2'));
    }
    &[data-side='left'] {
      margin-right: calc(themed('size-3') + themed('size-2'));
    }
    &[data-side='right'] {
      margin-left: calc(themed('size-3') + themed('size-2'));
    }
  }

  &__item,
  &__label,
  &__checkbox-item,
  &__radio-item,
  &__sub-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    user-select: none;

    height: calc(themed('size-3') + themed('size-2'));
    color: themed('color-text-primary');
    padding: 0 themed('size-4') 0 calc(themed('size-5') + themed('size-3'));

    &:focus-visible {
      outline: none;
    }

    &[data-disabled] {
      color: themed('color-text-placeholder');
      pointer-events: 'none';
    }

    &[data-highlighted] {
      background-color: themed('color-border');
      color: themed('color-text-primary');
    }
  }

  &__sub-trigger {
    &[data-state='open'] {
      background-color: themed('color-background');
    }
  }

  &__label {
    color: themed('color-text-tertiary');
  }

  &__separator {
    height: 1px;
    background-color: themed('color-border');
    margin: 5px;
  }

  &__item-indicator {
    position: absolute;
    left: 0;
    width: calc(themed('size-5') + themed('size-3'));
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    fill: themed('color-surface');
  }
}
