@use '@janis.me/themed' as *;

.themed-ui__button {
  &__root {
    border: none;
    padding: themed('button__padding-v') themed('button__padding-h');
    border-radius: themed('button__border-radius');
    cursor: pointer;
    transition: all 100ms ease-in-out;
    height: themed('button__height');
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--primary {
    background-color: themed('button--primary__background');
    color: themed('button--primary__color');

    &:hover {
      background-color: themed('button--primary__background-hover');
    }
  }

  &--secondary {
    background-color: themed('button--secondary__background');
    color: themed('button--secondary__color');

    &:hover {
      background-color: themed('button--secondary__background-hover');
    }
  }

  &--error {
    background-color: themed('button--error__background');
    color: themed('button--error__color');

    &:hover {
      background-color: themed('button--error__background-hover');
    }
  }

  &--round {
    border-radius: 50%;
    padding: themed('button--round__padding');
    aspect-ratio: 1 / 1;
    padding: 0;

    &.themed-ui__button--small {
      padding: 0;
    }
    &.themed-ui__button--large {
      padding: 0;
    }
  }

  &--small {
    height: themed('button--small__height');
    padding: themed('button--small__padding-v') themed('button--small__padding-h');
  }

  &--large {
    height: themed('button--large__height');
    padding: themed('button--large__padding-v') themed('button--large__padding-h');
  }
}
