.themed-ui__button {
  &__root {
    border: none;
    padding: 0 themed('size-16');
    border-radius: 3px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    height: themed('size-32');
    font-size: 1em;
  }

  &--primary {
    background-color: themed('primary-9');
    color: themed('gray-12');

    &:hover {
      background-color: themed('primary-10');
    }
  }

  &--secondary {
    background-color: themed('gray-3');
    color: themed('gray-12');

    &:hover {
      background-color: themed('gray-4');
    }
  }

  &--error {
    background-color: themed('error-9');
    color: themed('gray-12');

    &:hover {
      background-color: themed('error-10');
    }
  }

  &--round {
    border-radius: 50%;
    padding: themed('size-8');
    aspect-ratio: 1 / 1;

    &.themed-ui__button--small {
      height: themed('size-24');
      padding: 0;
    }

    &.themed-ui__button--large {
      height: themed('size-40');
      padding: 0;
    }
  }

  &--small {
    height: themed('size-24');
    padding: 0 themed('size-8');

    svg {
      width: themed('size-12');
      height: themed('size-12');
    }
  }

  &--large {
    height: themed('size-40');
    padding: 0 themed('size-24');
  }
}
