@use 'sass:map';

@function make-vars($base) {
  @return (
    // Sizes
    checkbox__size: calc(map.get($base, 'size-5') + map.get($base, 'size-4')),
    // Border
    checkbox__border-radius: map.get($base, 'border-radius'),
    checkbox__border-width: map.get($base, 'border-width'),
    checkbox__border-style: map.get($base, 'border-style'),
    checkbox__border-color: map.get($base, 'color-border'),
    checkbox__border-color-hover: map.get($base, 'color-border-light'),
    // Colors
    checkbox__background: map.get($base, 'color-text-interactive'),
    checkbox__background-hover: map.get($base, 'color-surface'),
    checkbox__background-active: map.get($base, 'color-background'),
    checkbox__background-disabled: map.get($base, 'color-border-light'),
    checkbox__color: map.get($base, 'color-interactive'),
    checkbox__color-hover: map.get($base, 'color-interactive-hover'),
    checkbox__color-active: map.get($base, 'color-interactive-active'),
    checkbox__color-disabled: map.get($base, 'color-interactive-disabled')
  );
}
