@use 'global.scss' as *;

@include apply();

html {
  font-size: 16px;
  background-color: themed('color-background');
}

.sbdocs,
.sbdocs-wrapper {
  background-color: themed('color-background') !important;

  h1,
  h2,
  h3 {
    color: themed('color-text-primary') !important;
  }
}

.sb-bar {
  background-color: themed('color-background') !important;
  box-shadow: themed('color-text-placeholder') 0px -1px 0px 0px inset !important;
}

.sb-anchor > div {
  border: 1px solid themed('color-border') !important;
}

.docblock-code-toggle {
  color: themed('color-text-primary') !important;
  border-top-left-radius: 3px !important;
  border-color: themed('color-border') !important;
  background-color: themed('color-background') !important;
}
