.themed-ui__switch {
  &__root {
    width: themed('switch__width');
    height: themed('switch__height');
    background-color: themed('switch__background-color');
    border-radius: themed('switch__border-radius');
    position: relative;
    border: themed('switch__border-width') themed('switch__border-style') themed('switch__border-color');
    cursor: pointer;

    &[data-state='checked'] {
      background-color: themed('switch__background-color-active');
      border: 1px solid themed('switch__border-color-active');
    }
  }

  &__thumb {
    display: block;
    width: themed('switch__thumb-size');
    height: themed('switch__thumb-size');
    aspect-ratio: 1 / 1;
    background-color: themed('switch__thumb-background-color');
    border-radius: themed('switch__border-radius');
    border: 1px solid themed('switch__border-color');
    transition: all 100ms ease;
    transform: translateX(-2px);

    &[data-state='checked'] {
      transform: translateX(themed('switch__thumb-offset'));
      border: 1px solid themed('switch__border-color-active');
    }
  }
}
