.themed-ui__switch {
  // 48 - 6px
  $switch-width: calc((themed('size-6') + themed('size-5')) - themed('size-6'));

  $thumb-size: themed('size-5');
  $thumb-offset: calc($thumb-size);

  &__root {
    width: $switch-width;
    height: calc(themed('size-5') + themed('size-3'));
    background-color: themed('color-background');
    border-radius: 9999px;
    position: relative;
    border: 1px solid themed('color-interactive');

    &[data-state='checked'] {
      background-color: themed('color-interactive');
    }
  }

  &__thumb {
    display: block;
    width: $thumb-size;
    height: $thumb-size;
    aspect-ratio: 1 / 1;
    background-color: themed('color-text-primary');
    border-radius: 9999px;
    transition: transform 100ms;

    &[data-state='checked'] {
      transform: translateX($thumb-offset);
    }
  }
}
