.themed-ui__progress {
  &__root {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    height: calc(themed('size-5') + themed('size-3'));
    border-radius: themed('size-3');
    background: themed('color-border');

    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
  }

  &--primary &__indicator {
    background-color: themed('color-interactive');
  }

  &--secondary &__indicator {
    background-color: themed('color-background');
  }

  &--info &__indicator {
    background-color: themed('color-info');
  }

  &--success &__indicator {
    background-color: themed('color-success');
  }

  &--warning &__indicator {
    background-color: themed('color-warning');
  }

  &--error &__indicator {
    background-color: themed('color-error');
  }

  &__indicator {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in-out;
  }
}
