.themed-ui__slider {
  &__root {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
    height: calc(themed('size-5') + themed('size-3'));
  }

  &__track {
    background-color: themed('color-border');
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: themed('size-3');
  }

  &__range {
    position: absolute;
    background-color: themed('color-text-primary');
    border-radius: 9999px;
    height: 100%;
  }

  &__thumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: themed('color-text-primary');
    box-shadow: 0 2px 10px themed('color-elevated');
    border-radius: 10px;

    &:hover {
      background-color: themed('color-text-secondary');
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px themed('color-elevated');
    }
  }
}
