.themed-ui__context-menu {
  &__content,
  &__sub-content {
    overflow: hidden;
    min-width: 220px;
    background-color: themed('context-menu__background');
    border-radius: themed('context-menu__border-radius');
    border-style: themed('context-menu__border-style');
    border-color: themed('context-menu__border-color');
    border-width: themed('context-menu__border-width');

    z-index: 1;
  }

  &__item,
  &__checkbox-item,
  &__radio-item,
  &__sub-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    user-select: none;

    height: themed('context-menu__item-height');
    color: themed('context-menu__item-color');
    padding: 0 themed('context-menu__item-padding-h');

    background-color: themed('context-menu__item-background');

    &:focus-visible {
      outline: none;
    }

    &[data-disabled] {
      color: themed('context-menu__item-color-disabled');
      pointer-events: 'none';
    }

    &[data-highlighted] {
      background-color: themed('context-menu__item-background-hover');
      color: themed('context-menu__item-color-hover');
    }
  }

  &__sub-trigger[data-state='open'] {
    // TODO: Add another color for open state
    background-color: themed('context-menu__item-background-hover');
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: themed('context-menu__label-color');
    padding: 0 themed('context-menu__label-padding-h');
    height: themed('context-menu__item-height');
  }

  &__separator {
    height: themed('context-menu__separator-height');
    background-color: themed('context-menu__separator-background');
    margin: 5px;
  }

  &__item-indicator {
    position: absolute;
    left: 0;
    width: calc(themed('size-5') + themed('size-3'));
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
