.themed-ui__checkbox {
  &__root {
    background-color: themed('checkbox__background');
    width: themed('checkbox__size');
    height: themed('checkbox__size');
    border-radius: themed('checkbox__border-radius');
    display: flex;
    align-items: center;
    justify-content: center;
    border: themed('checkbox__border-width') themed('checkbox__border-style') themed('checkbox__border-color');
    cursor: pointer;

    &:hover {
      border: themed('checkbox__border-width') themed('checkbox__border-style') themed('checkbox__border-color-hover');
    }

    &[data-state='checked'] {
      border: themed('checkbox__border-width') themed('checkbox__border-style') themed('checkbox__color-active');
    }
  }

  &__indicator {
    color: themed('checkbox__color');
  }
}
