.context-menu-story {
  &__trigger {
    padding: calc(themed('size-3') + themed('size-2'));
    border: 1px dashed themed('color-text-primary');
    color: themed('color-text-primary');
    cursor: context-menu;
  }
}
