.navigation-menu-story {
  &__extended {
    a {
      color: themed('color-text-interactive');
      background-color: themed('color-interactive');
      margin: 0;

      &:hover {
        background-color: themed('color-interactive-hover');
      }
    }
  }

  &__items {
    display: grid;
    gap: calc(themed('size-3') + themed('size-2'));
    padding: themed('size-4');
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  &__item {
    background-color: themed('color-background');

    font-size: 0.875em;
    padding: themed('size-4') themed('size-5');
    cursor: pointer;
    transition: background-color 100ms ease-in-out;

    b,
    p {
      margin: 0;
    }

    p {
      font-size: 0.875em;
    }

    &:hover {
      background-color: themed('color-text-placeholder');
    }
  }
}
